/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color:  #3c3535;
}

.myLabel {
    -fx-fill: white;
    -fx-text-fill: white;
    /*-fx-font: corbel;*/
    /*-fx-translate-x: 50;*/
}

.button {
    -fx-background-color: #4d4646;
    -fx-fill: white;
}
.table-view{

    -fx-background-color:  #3c3535;
}

.table-row-cell{
   -fx-dark-text-color: white;
   -fx-mid-text-color: white;
   -fx-light-text-color: white;
}

.table-row-cell:even{
    -fx-background-color: #4d4646;
    -fx-fill:white;
}

.table-row-cell:odd{
    -fx-background-color: #3c3535;
    -fx-fill:white;
}
.table-row-cell:focused {
    -fx-background-color: #b7efaf;
   -fx-dark-text-color: #000000;
   -fx-mid-text-color: #000000;
   -fx-light-text-color: #000000;
}

.menu-bar{
    /*-fx-background-color:  #4d4646;*/
    -fx-fill: white;
}